{% extends 'Layout/Default/base.html.twig' %}

{% block body %}
    <table class="min-w-full divide-y divide-gray-300 align-middle">
        <thead class="bg-gray-50">
        <tr>
            <th scope="col" class="py-3.5 text-center text-sm font-semibold">
                Id
            </th>
            <th scope="col" class="py-3.5 text-center text-sm font-semibold">
                Name
            </th>
            <th scope="col" class="py-3.5 text-center text-sm font-semibold">
                Nombre de jeux
            </th>
            <th scope="col" class="py-3.5 text-center text-sm font-semibold">
                Date de dernière modification
            </th>
            <th scope="col" class="py-3.5 text-center text-sm font-semibold">
                Date de création
            </th>
            <th scope="col" class="py-3.5 text-center text-sm font-semibold">
                Action
            </th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
        {% for video in videos %}
            <tr>
                <td class="py-3.5 text-center text-sm font-medium w-1/12">
                    {{ video.id }}
                </td>
                <td class="py-3.5 text-center text-sm font-medium w-1/12">
                    {{ video.name }}
                </td>
                <td class="py-3.5 text-center text-sm font-medium w-1/12">
                    {{ video.games|length }}
                </td>
                <td class="py-3.5 text-center text-sm font-medium w-1/12">
                    {{ video.lastUpdateDateTime|date('d/m/y H:i') }}
                </td>
                <td class="py-3.5 text-center text-sm font-medium w-1/12">
                    {{ video.creationDateTime|date('d/m/y H:i') }}
                </td>
                <td class="py-3.5 text-center text-sm font-medium w-1/6">
                    <a href="{{ path('app_video_show', {'id': video.id}) }}"
                       class="rounded-l  border border-transparent bg-green-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-600 focus:ring-offset-2">
                        Visualiser
                    </a>
                    <a href="{{ path('app_video_download', {'id': video.id}) }}"
                       class="  border border-transparent bg-blue-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2">
                        Télécharger
                    </a>
                    <a href="{{ path('app_video_update', {'id': video.id}) }}"
                       class="  border border-transparent bg-yellow-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-600 focus:ring-offset-2">
                        Modifier
                    </a>
                    <a href="{{ path('app_video_delete', {'id': video.id}) }}"
                       class=" rounded-r border border-transparent bg-red-500 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-600 focus:ring-offset-2">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td class="text-sm text-center font-medium w-1/12 py-4" colspan="6">
                    Aucune vidéo
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td class="text-sm text-center font-medium w-1/12" colspan="6">
                <a href="{{ path('app_video_create') }}"
                   class="block rounded-b border border-transparent bg-indigo-600 px-2.5 py-1.5 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                    Créer une video
                </a>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock body %}